<ion-header [translucent]="true" class="header-card">
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button routerLink="/menu" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Visualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card-header>
    <ion-card-title class="ion-text-center">Asignatura</ion-card-title>
  </ion-card-header>



  <ion-card *ngFor="let item of array; let indice=index">
    <ion-card-header>
      <ion-card-title>{{item.leccion }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Asignatura:</ion-label>
          <strong >{{item.leccion }}</strong>
        </ion-item>
        <ion-item>
          <ion-label>Hora:</ion-label>
          <strong >{{item.hora }}</strong>
        </ion-item>
      </ion-list>
      <ion-button expand="full" color="tertiary" (click)="verAsignatura(indice)" >Ver Asignatura</ion-button>
    </ion-card-content>
  </ion-card>
  
  

</ion-content>