<ion-header [translucent]="true" class="login-card">
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button routerLink="/escanear" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <ion-card-content  class="login-card custom-background">
  <ion-list >
    <ion-card-header >
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-item >
      <ion-label>
          <h2>Matemáticas</h2>
          <p><strong>Seccion:</strong>001D </p>
          <p><strong>Profesor:</strong>John Doe </p>
          <p><strong>Hora:</strong>09:00 AM - 10:30 AM </p>
          <p><strong>Fecha:</strong>14/09/2024</p>
          <p><strong>Asistencia:</strong>8/10</p>
      </ion-label>
    </ion-item>


  </ion-list>

  <ion-button color="success" expand="full" routerLink="/menu">OK</ion-button> 
</ion-card-content>
</ion-content> 

